body {
  margin: 0;
  background-color: var(--gray-2);
}

.radix-themes {
  --default-font-family: "Figtree", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-background: var(--gray-1);
}

.radix-themes ul {
  padding-left: 0;
  margin-left: var(--space-3);
}